body{
   font-size: 1em;
   font-family: Arial, Helvetica, sans-serif;
}
/* page-header */ 
.header-top{
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 5px;
}
.container{
  max-width: 1300px;
  margin: 0 10%;
  padding-top:10px;
}
.clearfix:after{
  content: "";
  clear: both;
  display:block;
}
.header-content-left{
  float: left;
  padding-left: 10px;
}
.header-content-right{
  float: right;
}
.header-content-right p{
  float:right;
  padding: 3px;
}
.tele-number{
  text-decoration: none;
}
.header-page-name{
  float:right;
}
.header-page-name h1,p{
  margin: 5px;
}
.header-content-left-image{
  width: 60px;
  height: 60px;
}
/* header-bottom */
.header-menu-content{
  float: left;
}
li.header-menu-item{
  display: inline;
  border-left: 1px solid #BDBDBD;
  padding: 0px 10px;
}
.header-menu-list .header-menu-item:first-child{
  padding: 0px;
  border: 0px;
}
.menu-link{
  text-decoration: none;
  color: black;
}
li.header-menu-item > a:hover{
  color: #A5A7E9;
}
.header-sociality{
  float: right;
  padding-top: 10px;
}
/* page-main */
li.banner-item{
  display: inline;
}
.banner-list{
  background-image: url('../images/images1.png');
  min-height: 155px;
  padding: 0px;
}
.banner-list .container{
  padding-top: 70px;
}
.banner-link{
  text-decoration: none;
  color: black;
}
li.banner-item > a:hover {
  color: #A5A7E9;
}
/* main-body */
.sidebar{
  float: left;
}
.health-list{
  list-style: none;
  padding :0px;
}
.health-item-title{
  background: #D0D0DF;
  padding: 5px;
  padding-left: 20px;
}
.health-item-hypen, .health-item-plus{
  float: right;
}
.health-item-title{
  margin: 0px;
}
.sub-health-list{
  padding: 15px;
}
.sub-health-item-link{
  text-decoration: none;
  color: black;
}
li.sub-health-item > a:hover {
  color: #A5A7E9;
}
.form-info{
  background: #D0D0DF;
}
.form-info-title{
  padding: 5px;
  margin-bottom: 10px;
}
.form-info-title:after{
  content: "";
  border-bottom: 2px solid #6B76D9;
  width: 25%;
  margin-top: 10px;
  display: block;
}
.form-control{
  padding: 7px;
}
.form-input-control{
  box-sizing: border-box;
  width: 100%;
  display: block;
}
.btn-send{
  margin-bottom: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* main-service-list */
.main-service-list{
  float: right;
  width: 75%;
}
li.main-service-item{
  display: inline;
  margin-left: 3px;
}
.main-service-list{
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.read-more-icon{
  float: right;
  width: 15px;
  height: 15px;
}
li.main-service-item{
  float: left;
  width: 30%;
  padding: 10px;
}
.main-service-item-image{
  width: 250px;
  height: 190px;
}
/*footer*/
.page-footer{
  background-color: #A6D5CC;
  height: 250px;
  width: 100%;
  color: white;
}
.footer-content-list li.footer-content-item{
  float: left;
  width: 33.33%;
  list-style: none;
}
.footer-content-list{
  padding-left: 20px;
}
li.footer-social-item{
  list-style: none;
}
.footer-social-item-name{
  padding: 3px;
}
.footer-social-item-link{
  float: left;
}
.footer-top{
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 10px;
}
.footer-information-list{
  padding-left: 0px;
}
.address-name{
  float: left;
}
.director-name{
  float: right;
}
